.main {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.cont-1 {
    padding-right: 0;
    padding-left: 0;
}

#img-1 {
    height: 400px;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.7);
    opacity: 0.85;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.containernav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar ul li a {
    color: #ffffff;
}

.navbar ul li a:hover {
    color: #D6BCB5;
}

.dropdown-item {
    color: black !important;
}

.containernav a img {
    margin-left: 40px;
}

.contus-btn {
    border: 2px solid #ffffff !important;
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff !important;
    text-align: center !important;
    font-family: Cormorant Garamond !important;
    margin-top: 140px;
    font-size: 50px !important;
    text-transform: capitalize;
    font-weight: bold;
}

.imagetiles .col-lg-4.col-md-4.col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px !important;
}

.img1 {
    filter: grayscale(80%);
    transition: all .5s;
}

.img1:hover {
    filter: grayscale(0);
    transform: scale(.8);
}

.hello {
    margin-top: 150px;
    padding-right: 0px !important;
}

hr {
    border: 3px solid #D6BCB5;
    margin-top: 100px;
    width: 100%;
}

.hello1 p {
    text-indent: 2%;
    text-align: center;
    margin-left: -10px;
    font-family: playfair display;
    text-transform: capitalize;
    font-size: 15px;
}

.column1 {
    z-index: -1;
    align-content: center;
    text-align: center;
}

.fa-user {

    background-color: #ffffff;
    padding: 50px;
    margin-top: 35px;
    border-radius: 100px;
    margin-bottom: 15px;
}

#zain {
    margin-top: 20px !important;
    margin-bottom: 15px;
}

.creator {
    font-family: playfair display;
    font-size: 30px;
    margin-bottom: 15px !important;
}

.rep {
    font-family: playfair display;
    font-size: 15px !important;
}

.footer {
    margin-top: 30px;
    background-color: rgba(97, 160, 160, 0.95);
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.tz34 h4 {
    margin-top: 20px;
    color: #ffffff !important;
    font-family: Cormorant Garamond;
    text-transform: capitalize;
    font-size: 23px !important;
}

.vac-para1 {
    color: #ffffff;
    font-family: Cormorant Garamond;
    font-size: 19px;
    text-transform: capitalize;
    line-height: 22px;
}


.quicklink p a {
    text-decoration: none;
}

.quicklink p {
    font-size: 20px;
}

.quicklink {
    font-family: Cormorant Garamond;
    color: #ffffff;
}

.copy {
    color: #ffffff;
}

.copy a {
    color: #ffffff;
}

.copy a:hover {
    color: #D6BCB5;
}

.ticker-wrap {
    font-family: Cormorant Garamond;
    overflow: hidden;
    position: relative;
    /* background-color: rgba(214, 188, 181, 0.75); */
    color: #ffffff;
    background: transparent;
    height: 60px;
}

.ticker-wrap .ticker-move {
    width: 770px;
    position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: ticker-scroll 10s linear infinite;
}

.ticker-wrap .ticker-move li {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-100%);
    }
}